@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:wght@100..900&display=swap');
@font-face {
    font-family: Logirent;
    src: url("./assets/Fonts/Logirent.otf");
  }
:root{
    --primaryclr:#f0233b;
    --secondaryclr:#FF3385;
    --black:#282828;
    --light-gray:#adadad;
    --gray:#48586a;
}